<html>

<body>
    {% include 'superior/barra.html' %}

    <h1>Hola desde la plantilla!</h1>
    <p>Nombre: {{nombre_persona}} {{apellido_persona}}</p>
    <p>Fecha: {{now.day}}</p>
    {% if nombre_persona == "Juan" %}
    <p>Te llamas Juan</p>
    {% else %}
    <p>No te llamas Juan</p>
    {% endif %}

    <ul>
        {% if temas_curso %}
        {% for i in temas_curso %}
        <li>{{i}}</li>
        {% endfor %}
        {% else %}
        <p>No hay temas que mostrar</p>
        {% endif %}
    </ul>

</body>

</html>